
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change</title>
</head>
<body>
    <script>alert("Status Changes Successfully"); location.href = "../Dashboard/ViewReq";</script>

</body>
</html>
